body, html {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.ant-anchor-wrapper-horizontal::before { border-bottom: none !important; }

@media (max-width: 500px) {
  .ant-steps-icon span[role="img"] {
    padding: 10px !important;
    margin-left: 0px !important;
  }
}