html, body {
  background-color: #1b1c1d;
}

h1, h2, h3, h4, h5, h6, .breadcrumb div.divider, .ui.form label {
  color: white !important;
}

.breadcrumb {
  color: white;
  a {
    color: white !important;
    text-decoration: underline !important;
  }
}

.editor { 
  width: 100%;
  height: 500px;
}

#login_container {
  margin: 0 auto;
  width: 300px;
  label {
    color: black !important;
    display: inline;
  }
  .message .column { padding: 0; }
  img { width: 30px !important; }
}

#services.segment { margin-bottom: 40px; }

.section_header {
  margin-bottom: 30px;
  p { font-size: 1.2em; }
}

.feature_card {
  min-height: 100px;
  background-color: #333333 !important;
}
.feature_card .header, .feature_card .description {
  color: white !important;
}
.feature_card li { 
  text-align: left;
  color: white !important;
}
.feature_card li::before {
  color: white !important;
}
.feature_card .image.icon {
  margin-top: 20px;
}

.left.aligned {
  text-align: left;
}

#hero {
  height: 430px; 
  background-size: cover;
}

#hero_grid { margin-top: 60px; }

#showcase {
  min-height: 350px;
  .six.wide.column { margin: auto 0; max-height: 350px }
}

#publish .images img { max-width: 450px; }

#products {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#what_is_dna { 
  max-width: 500px;
  margin: 0 auto;
}

#contact {
  max-width: 400px;
  margin: 0 auto;
  label {
    text-align: left;
  }
}

.flow_divider {
  min-height: 40px;
}

/* Footer styles */
.footer {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Copyright text styles */
.copyright {
  font-size: 14px;
  opacity: 0.8;
}

.strikethrough {
  text-decoration: line-through;
}

@media (max-width: 402px) {
  #hero {
    a { width: 100% !important; }
    svg { display: none !important; }
  }
  #hero_grid { margin-top: 30px; }
  #dna-image { display: block !important; margin-left: -80px; width: 150% !important; }

  .editor { 
    max-height: 250px;
  }
  .flow_divider {
    display: none !important;
  }
}