html, body {
  background-color: #1b1c1d;
}

h1, h2, h3, h4, h5, h6, .breadcrumb div.divider, .ui.form label {
  color: white !important;
}

.breadcrumb {
  color: white;
  a {
    color: white !important;
    text-decoration: underline !important;
  }
}

.editor { 
  width: 100%;
  height: 500px;
}

#login_container {
  margin: 0 auto;
  width: 300px;
  label {
    color: black !important;
    display: inline;
  }
  .message .column { padding: 0; }
  img { width: 30px !important; }
}

#services.segment { margin-bottom: 40px; }

.section_header {
  margin-bottom: 30px;
  p { font-size: 1.2em; }
}

.feature_card {
  min-height: 100px;
  background-color: #333333 !important;
}
.feature_card .header, .feature_card .description {
  color: white !important;
}
.feature_card li { 
  text-align: left;
  color: white !important;
}
.feature_card li::before {
  color: white !important;
}
.feature_card .image.icon {
  margin-top: 20px;
}

.left.aligned {
  text-align: left;
}

#hero_background {
  height: 300px;
  width: 100%;
  background-size: cover;
  position: absolute;
}

#hero {
  height: 300px;
  top: 50px;
}

#hero_grid img, h1, a {
  text-align: center;
  margin: 0 auto;
}

#masthead img {
  width: 80%;
}

#showcase {
  min-height: 350px;
  .six.wide.column { margin: auto 0; max-height: 350px }
}

#why .ui.list {
  margin: 0 auto;
  max-width: 150px;
}

#why .ui.list .item {
  font-size: 1.2em;
  text-align: left;
}
#why .ui.list .item::before {
  color: white !important;
}

#publish .images img { max-width: 450px; }

#products {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#contact {
  max-width: 400px;
  margin: 0 auto;
  label {
    text-align: left;
  }
}

.flow_divider {
  min-height: 40px;
}

/* Footer styles */
.footer {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Copyright text styles */
.copyright {
  font-size: 14px;
  opacity: 0.8;
}

.footer a {
  color: #fff;
}

.strikethrough {
  text-decoration: line-through;
}

@media (max-width: 767px) {
  #hero_background {
    height: 270px;
  }
  #hero {
    top: 40px;
    height: 400px;
  }
  #hero a { width: 100% !important; font-size: 1.2em !important; }
  #hero h1 { font-size: 1.7em !important; }
  #cta {
    top: 20px;
    background-color: rgba(33, 133, 190, 1);
  }
}

@media (max-width: 402px) {
  #hero_background {
    height: 170px;
  }
  #hero {
    height: 370px;
  }
  .flow_divider {
    display: none !important;
  }
}