---
import { Image } from "astro:assets";
import Layout from '../layouts/Layout.astro';
import '../styles/styles.css';
import flagshipImage from "../images/flagship.png";
import flagshipSettings from "../images/flagship_settings.png";
import flagshipLink from "../images/flagship_link.png";
import flagshipToggle from "../images/flagship_toggle.png";
---
<Layout title="Upgrade Solutions - Flagship">
  <div class="ui container">
    <div class="ui center aligned inverted segment">
      <div class="section_header">
        <Image src={flagshipImage} alt="FlagShip" class="ui centered tiny image" id="flagship-image" />
        <h1 class="ui header">
          FlagShip
        </h1>
        <p>Manage your feature flags in Jira issues</p>
      </div>
      <div class="ui horizontal divider">
        <i class="inverted angle double down icon"></i>
      </div>
      <h2 class="ui small inverted center aligned icon header">
        <i class="settings icon"></i>
        Configure Settings
      </h2>
      <p>Go to Jira Settings > Apps > FlagShip Config</p>
      <Image src={flagshipSettings} alt="FlagShip Settings" class="ui centered big image grey-border box-shadow" />

      <div class="ui horizontal divider">
        <i class="inverted angle double down icon"></i>
      </div>
      <h2 class="ui small inverted center aligned icon header">
        <i class="flag icon"></i>
        Link a Flag
      </h2>
      <p>In the Jira issue sidebar, under FlagShip</p>
      <Image src={flagshipLink} alt="FlagShip Link" class="ui centered big image grey-border box-shadow" />

      <div class="ui horizontal divider">
        <i class="inverted angle double down icon"></i>
      </div>
      <h2 class="ui small inverted center aligned icon header">
        <i class="toggle on icon"></i>
        Toggle Flags
      </h2>
      <p>Turn features on or off</p>
      <Image src={flagshipToggle} alt="FlagShip Toggle" class="ui centered big image grey-border box-shadow" />
    </div>
  </div>
</Layout>