---
import App from '../components/App.tsx';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your App Title</title>
  <!-- Other meta tags -->
</head>
<body>
  <div>
		<App client:load />
	</div>
</body>
</html>