---
import App from '../components/App.tsx';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upgrade Solutions</title>
  <meta name="description" content="Upgrade Solutions offers AI Solutions for software development shops.">
  <meta name="keywords" content="software, genai, upgrade, solutions, business, services, technology">
  <meta name="author" content="Upgrade Solutions">
  <meta property="og:title" content="Upgrade Solutions">
  <meta property="og:description" content="Upgrade Solutions offers AI Solutions for software development shops.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://upgrade-solutions.github.io">
  <meta property="og:image" content="https://upgrade-solutions.github.io/og-image.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Upgrade Solutions">
  <meta name="twitter:description" content="Upgrade Solutions offers AI Solutions for software development shops.">
  <meta name="twitter:image" content="https://upgrade-solutions.github.io/twitter-image.jpg">
</head>
<body>
  <div>
		<App client:load />
	</div>
</body>
</html>