---
import FlowDivider from "./FlowDivider.astro";
---

<div id="contact" class="ui center aligned inverted segment">
  <h1>Contact</h1>
  <p>
    Reach out to learn more about our products and services. <br />
  </p>
  <FlowDivider />
  <div class="ui hidden divider"></div>
  <a href="mailto:tim@upgradesolutions.io" class="ui primary button">
    Email Us
  </a>  
</div>
