<div id="hero" class="ui inverted vertical masthead center aligned segment" style="background-image: url(/public/masthead_bg.gif);">
  <div id="hero_grid" class="ui stackable grid">
    <div class="six wide column">
      <div class="ui vertical masthead center aligned segment">
        <div class="ui container">
          <h1 class="ui inverted header">Upgrading<br/>Software Systems</h1>
          <h4 class="ui inverted header">Tools for modernizing legacy apps<br/>and generating new ones</h4>
          <br/>
          <a id="contact-link" class="ui big inverted button" data-turbo="false" href="/#contact_section">Contact</a>
        </div>
      </div>
    </div>
    <div id="masthead" class="nine wide column">
      <img class="ui fluid image" src="/public/upgrade_masthead.png" />
    </div>
  </div>
</div>