---
import FlowDivider from "./FlowDivider.astro";
---

<div id="how" class="ui center aligned inverted segment">
  <div class="section_header">
    <h1 class="ui header">Our Approach</h1>
    <div class="ui stackable grid">
      <div class="one wide column"></div>
      <div class="four wide column">
        <div class="ui raised fluid card inverted feature_card">
          <div class="image icon">
            <i class="big dollar sign icon"></i>
          </div>
          <div class="content">
            <div class="header">Affordable</div>
            <div class="description">
              Our AI tools can write code for you,<br/>which is much easier on your budget.
            </div>
          </div>
        </div>
      </div>
      <div class="one wide column"></div>
      <div class="four wide column">
        <div class="ui raised fluid card inverted feature_card">
          <div class="image icon">
            <i class="big object group icon"></i>
          </div>
          <div class="content">
            <div class="header">Quick to Build</div>
            <div class="description">
              Code is written in minutes,<br/>not months.
            </div>
          </div>
        </div>
      </div>
      <div class="one wide column"></div>
      <div class="four wide column">
        <div class="ui raised fluid card inverted feature_card">
          <div class="image icon">
            <i class="big edit icon"></i>
          </div>
          <div class="content">
            <div class="header">Easy to Maintain</div>
            <div class="description">
              Your logic and data are preserved, but code is generated as needed.
            </div>
          </div>
        </div>
      </div>
  </div>
</div>