<div id="menu" class="ui top fixed inverted secondary menu">
  <a class=" item" data-turbo="false" data-method="get" href="http://dna.codes"><i class="dna icon"></i></a>
  <div class="right menu">
      <a id="why-link" class="item" data-turbo="false" href="/#why">Why</a>
      <a id="how-link" class="item" data-turbo="false" href="/#how">How</a>
      <a id="what-link" class="item" data-turbo="false" href="/#what">What</a>
  </div>
</div>