---
import { Image } from "astro:assets";
import FlowDivider from "./FlowDivider.astro";
import publishImage from "./public/publish.gif";
import translatorImage from "./public/translator.png";
---

<div id="what" class="ui center aligned inverted segment">
  <div class="section_header">
    <h1 class="ui header">What</h1>
    <p>Innovative Products and Services for Architects and Engineers</p>
    <FlowDivider />
    <div id="products" class="ui center aligned inverted segment">
      <div class="section_header">
        <h3 class="ui header">Products</h3>
      </div>
      <div class="ui huge inverted compact tabular secondary menu">
        <a class="active item" id="translator-tab" data-tab="translator"
          >Code Translator</a
        >
        <a class="item" id="builder-tab" data-tab="builder">DNA Builder</a>
      </div>
      <div class="ui active inverted tab segment" data-tab="translator">
        <div class="ui inverted vertical masthead center aligned segment">
          <div class="ui stackable grid">
            <div class="six wide column product_description">
              <div class="ui inverted vertical masthead center aligned segment">
                <div class="ui container">
                  <i class="circular big grey inverted code icon"></i>
                  <h2>Code Translator</h2>
                  <p>Generate code in any language,<br />from any language</p>
                  <a
                    class="ui inverted button"
                    data-turbo="false"
                    href="https://app.dna.codes/translator" target="_blank">Try It</a
                  >
                </div>
              </div>
            </div>
            <div class="ten wide column">
              <Image src={translatorImage} alt="Publish" class="ui fluid image" id="compose-image" />
            </div>
          </div>
        </div>
      </div>
      <div class="ui inverted tab segment" data-tab="builder">
        <div class="ui inverted vertical masthead center aligned segment">
          <div class="ui stackable grid">
            <div class="six wide column product_description">
              <div class="ui inverted vertical masthead center aligned segment">
                <div class="ui container">
                  <i class="circular big grey inverted dna icon"></i>
                  <h2>DNA Builder</h2>
                  <p>
                    Use the <a href="https://app.dna.codes" target="_blank">DNA Builder</a> to express your
                    business logic in a language-agnostic way, and then
                    automatically generate code in any supported language.
                  </p>
                </div>
              </div>
            </div>
            <div class="ten wide column">
              <Image src={publishImage} alt="Publish" class="ui fluid image" id="compose-image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <FlowDivider />
    <div id="services" class="ui center aligned inverted segment">
      <div class="section_header">
        <h3 class="ui header">Services</h3>
      </div>
      <div class="ui stackable grid">
        <div class="one wide column"></div>
        <div class="four wide column">
          <div class="ui raised fluid card inverted feature_card">
            <div class="content">
              <div class="header">Generative AI</div>
              <div class="description">
                <ul class="ui list">
                  <li>GPT Solutions</li>
                  <li>Fine-tuning Models</li>
                  <li>LLM Integration</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="one wide column"></div>
        <div class="four wide column">
          <div class="ui raised fluid card inverted feature_card">
            <div class="content">
              <div class="header">Developer Training</div>
              <div class="description">
                <ul class="ui list">
                  <li>AI Pair Programming</li>
                  <li>Prompt Engineering</li>
                  <li>AI APIs &amp; SDKs</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="one wide column"></div>
        <div class="four wide column">
          <div class="ui raised fluid card inverted feature_card">
            <div class="content">
              <div class="header">Engineering</div>
              <div class="description">
                <ul class="ui list">
                  <li>Legacy System Upgrade</li>
                  <li>Microservice Generation</li>
                  <li>Doc Generation</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="one wide column"></div>
      </div>
    </div>
  </div>
</div>