<div id="why" class="ui left aligned inverted segment">
  <div class="section_header"> 
    <h1 class="ui header">The Upgrade</h1>
  </div>
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <i class="circular big violet inverted meh outline icon"></i>
        <h2>Traditional Software</h2>
        <ul class="ui list">
          <li class="item">Expensive</li>
          <li class="item">Slow to Build</li>
          <li class="item">Hard to Maintain</li>
        </ul>
      </div>
      <div class="column">
        <i class="circular big olive inverted smile outline icon"></i>
        <h2>Our Solutions</h2>
        <ul class="ui list">
          <li class="item">Affordable</li>
          <li class="item">Quick to Build</li>
          <li class="item">Easy to Maintain</li>
        </ul>
      </div>
    </div>
  </div>
</div>