<div id="why" class="ui center aligned inverted segment">
  <div class="section_header">
    <h1 class="ui header">Why</h1>
    <p>We're pioneering a new path.</p>
  </div>
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <i class="circular big violet inverted meh outline icon"></i>
        <h3>The Problem</h3>
        <p>Businesses need software to run their operations.<br/>But software is <em>expensive</em>, <em>slow to build</em>, and <em>hard to maintain</em>.</p>
      </div>
      <div class="column">
        <i class="circular big olive inverted smile outline icon"></i>
        <h3>The Solution</h3>
        <p>We make it easy to build and maintain software.<br>So it can change as businesses change.</p>
      </div>
    </div>
  </div>
</div>