<footer class="footer">
  <div class="ui equal width stackable grid">
    <div class="center aligned row">
      <div class="column">
        <div class="copyright">
          &copy; 2023 Upgrade Solutions LLC
        </div>
      </div>
      <div class="column">
        <div class="ui horizontal list">
          <div class="item">
            <a href="https://www.privacypolicies.com/live/728108d2-3caf-465b-9fb4-3746765b8434" target="_blank">Privacy Policy</a>
          </div>
          <div class="item">
            <a href="https://drive.google.com/file/d/1Ds0W0xvZ8Du8DAGXXuufa3ShhGcNgEo9/view?usp=sharing" target="_blank">Terms of Use</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>